<?php require COMMON_VIEW.'header.html';?>

	<div class="content">
 

 <center>

<div class='tiles'>
	<div class='col'>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>       
		<div class='box'></div>
	</div>
	<div class='col'>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<div class='box'></div>
	</div>
	<div class='col'>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<div class='box'></div>
	</div>
	<div class='col'>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<div class='box'></div>
	</div>
	<div class='col'>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<div class='box'></div>
	</div>
	<div class='col'>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<div class='box'></div>
	</div>
	<div class='col'>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<div class='box'></div>
	</div>
	<div class='col'>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<div class='box'></div>
	</div>
	<div class='col'>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<div class='box'></div>
	</div>
	<div class='col'>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<div class='box'></div>
	</div>
	<div class='col'>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<div class='box'></div>
	</div>
	<div class='col'>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<div class='box'></div>
	</div>
	<div class='col'>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<div class='box'></div>
	</div>
	<div class='col'>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<div class='box'></div>
	</div>
	<div class='col'>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
		<div class='box'></div>
	</div>
</div>
</center>

    <?php require COMMON_VIEW.'footer.html';?>