<?php require COMMON_VIEW.'header.html';?>
<div class="content">
    <div class="demo"><div class="demo1"></div></div>
    <h2>亚洲野生动物</h2>
   

        <div class="responsive">
             <h2>1.大熊猫</h2>
             <p>
                大熊猫（学名：Ailuropoda melanoleuca）：属于食肉目、熊科、大熊猫亚科和大熊猫属唯一的哺乳动物。仅有二个亚种。雄性个体稍大于雌性。体型肥硕似熊、丰腴富态，头圆尾短，头躯长1.2-1.8米，尾长10-12厘米。体重80-120千克，最重可达180千克，体色为黑白两色，脸颊圆，有很大的黑眼圈，标志性的内八字的行走方式，也有解剖刀般锋利的爪子。大熊猫皮肤厚，最厚处可达10毫米。黑白相间的外表，有利于隐蔽在密林的树上和积雪的地面而不易被天敌发现。
                大熊猫是中国特有种，主要栖息地是中国四川、陕西和甘肃的山区。
             </p>
            <a target="_blank" href="https://baike.baidu.com/item/%E5%A4%A7%E7%86%8A%E7%8C%AB/34935"><button class="button button7"><span>了解更多</span></button></a>
       </div>

        <div class="responsive">
            <div class="img">
                <div class="tiles">
                    <a class="tile" href="#"><img src="<?php echo PUBLIC_PATH.'common/image/panda.jpg';?>"/>
                        <div class="details">
                        <span class="title">大熊猫</span>
                        <span class="info">Giant Panda</span></div></a>
                    </div>
            </div>
        </div>

       
        <div class="responsive">
             <h2>2.梅花鹿</h2>
            <p>
                梅花鹿（学名：Cervus nippon）是一种中小型鹿，体长125至145厘米，尾长12至13厘米，肩高70至95厘米，体重70至100千克。毛色夏季为栗红色，有许多白斑，状似梅花；冬季为烟褐色，白斑不显著。颈部有鬣毛。雄性角长达30至66厘米。
                梅花鹿群居性不强，雄鹿往往是独自生活，主要以草、水果、草本植物、树芽、树、农作物为食。种群主要分布在俄罗斯东部、日本和中国。是中国国家一级保护动物，列入世界自然保护联盟（IUCN）2015年《濒危物种红色名录》
            </p>
           <a target="_blank" href="https://baike.baidu.com/item/%E6%A2%85%E8%8A%B1%E9%B9%BF/53120"><button class="button button7"><span>了解更多</span></button></a>
      </div>

       <div class="responsive">
           <div class="img">
            <div class="tiles">
                <a class="tile" href="#"><img src="<?php echo PUBLIC_PATH.'common/image/deer.jpg';?>"/>
                    <div class="details">
                    <span class="title">梅花鹿</span>
                    <span class="info">Sika Deer</span></div></a>
                </div>
           </div>
       </div>

       <div class="responsive">
        <h2>3.亚洲象</h2>
       <p>
        亚洲象（学名：Elephas maximus Linnaeus ），别名印度象、大象、亚洲大象，属于长鼻目、象科。
        亚洲象是亚洲现存的最大陆生动物，长达1米多的象牙，是雄象上颌突出口外的门齿，也是强有力的防卫武器。象的眼小耳大，耳朵向后可遮盖颈部两侧。四肢粗大强壮，前肢5趾，后肢4趾。尾短而细，皮厚多褶皱，全身被稀疏短毛。头顶为最高点，体长5～6米，身高2.1～3.6米，体重达3～5吨。 [1] 
        野生象现已很少，在东南亚一些国家驯养的家象、役象很多。中国的野生象仅分布于云南省南部与缅甸、老挝相邻的边境地区，数量十分稀少，屡遭猎杀，破坏十分严重。
        属于国家一级保护动物。
       </p>
      <a target="_blank" href="https://baike.baidu.com/item/%E4%BA%9A%E6%B4%B2%E8%B1%A1"><button class="button button7"><span>了解更多</span></button></a>
 </div>

  <div class="responsive">
      <div class="img">
       <div class="tiles">
           <a class="tile" href="#"><img src="<?php echo PUBLIC_PATH.'common/image/elephant1.jpg';?>"/>
               <div class="details">
               <span class="title">亚洲象</span>
               <span class="info">Asian Elephant</span></div></a>
           </div>
      </div>
  </div>

     
    <div class="pagination">
        <a href="./?c=knowledge&a=Other">❮</a>
        <a href="./?c=knowledge&a=Africa">❯</a>
    </div>    
<?php require COMMON_VIEW.'footer.html';?>