<?php require COMMON_VIEW.'header.html';?>
    <div class="content">
        <div class="demo"><div class="demo2"></div></div>
        <h2>非洲野生动物</h2>
       
            <div class="responsive">
                 <h2>1.非洲狮</h2>
    
                 <p>
                    狮子（学名：Panthera leo；英文名：Lion）：是食肉目、猫科、狮亚属的大型猛兽。简称狮，中国古称狻猊。是一种生存在非洲与亚洲的大型猫科动物，是现存平均体重最大的猫科动物，也是在世界上唯一一种雌雄两态的猫科动物，有“草原之王”的称号，是非洲顶级的猫科食肉动物。
                生活在热带稀树草原和草地，也出现于灌木和旱林。肉食，常以伏击方式捕杀其他温血动物。分布于非洲草原、亚洲印度。在野外狮子活10到14年，圈养下更长寿，一般达二十余年。
                 </p>
                <a target="_blank" href="https://baike.baidu.com/item/%E7%8B%AE%E5%AD%90/66440?fromtitle=%E9%9D%9E%E6%B4%B2%E7%8B%AE&fromid=54290"><button class="button button7"><span>了解更多</span></button></a>
           </div>
    
            <div class="responsive">
                <div class="img">
                    <div class="tiles">
                        <a class="tile" href="#"><img src="<?php echo PUBLIC_PATH.'common/image/lion1.jpg';?>"/>
                            <div class="details">
                            <span class="title">非洲狮</span>
                            <span class="info">Africa Lion</span></div></a>
                        </div>    
                </div>
            </div>
    
           
            <div class="responsive">
                 <h2>2.花豹</h2>
                <p>
                    花豹（学名：Panthera pardus）：是哺乳纲、猫科、豹属的大型肉食性动物，体长100-150厘米，体重50-100千克。体形似虎，但明显较小；躯体均匀，四肢中长，趾行性。视、听、嗅觉均很发达。头小尾长，四肢短健，前足5趾，后足4趾，爪灰白色，能伸缩。毛被黄色，满布黑色环斑；头部的斑点小而密，背部的斑点密而较大，斑点呈圆形或椭圆形的梅花状图案，又颇似古代的铜钱，所以又有“金钱豹”之称。
               
                分布非常广泛，跨越亚洲、非洲的许多地区，从喜马拉雅山脉到撒哈拉大沙漠都有存在。
                </p>
               <a target="_blank" href="https://baike.baidu.com/item/%E8%8A%B1%E8%B1%B9/8079891"><button class="button button7"><span>了解更多</span></button></a>
          </div>
    
           <div class="responsive">
               <div class="img">
                <div class="tiles">
                    <a class="tile" href="#"><img src="<?php echo PUBLIC_PATH.'common/image/leopard.jpg';?>"/>
                        <div class="details">
                        <span class="title">花豹</span>
                        <span class="info">Leopard</span></div></a>
                </div>  
               </div>
           </div>
    
    
           
            <div class="responsive">
                 <h2>3.非洲黑犀牛</h2>
            <p>黑犀牛（Black rhino）等五种犀牛，包括白犀牛、印度犀牛（Indian rhinoceros）、苏门答腊犀牛（Sumatran rhinoceros）和爪哇犀牛，都属于《华盛顿公约》附录中的一类保护动物。
                黑犀牛曾分布在非洲撒哈拉沙漠以南的大部分地区。它们的分布范围已经缩小到非洲南部和肯尼亚，数量却已经回升到4880头左右，比20世纪90年代中期增长至少一倍。
                2011年，黑犀牛的西非亚种宣告灭绝。</p>
                <a target="_blank" href="https://baike.baidu.com/item/%E9%9D%9E%E6%B4%B2%E9%BB%91%E7%8A%80%E7%89%9B/10431675"><button class="button button7"><span>了解更多</span></button></a>
            </div>
            <div class="responsive">
            <div class="img">
                <div class="tiles">
                    <a class="tile" href="#"><img src="<?php echo PUBLIC_PATH.'common/image/rhino.jpg';?>"/>
                        <div class="details">
                        <span class="title">黑犀牛</span>
                        <span class="info">Black Rhino</span></div></a>
                </div>  
        </div></div>
    
            <div class="pagination">
                <a href="./?c=knowledge&a=Oceania">❮</a>
                <a href="./?c=knowledge&a=Asian">❯</a>
            </div>    
     
<?php require COMMON_VIEW.'footer.html';?>
