
     <div id="follow">
        <h3>Follow us</h3>
      <img src="<?php echo PUBLIC_PATH.'common/image/caption-rule.png';?>" alt="" width="300" height="2"> <p></p>         
          
     <div class="tooltip">     
        <div id="follow_pic">   <a target="_blank" href="https://www.gdufs.edu.cn/"><img src="<?php echo PUBLIC_PATH.'common/image/twitter.png';?>" width="50" height="50"></a></div>
        <span class="tooltiptext">Twitter</span>
    </div> 
    
    <div class="tooltip">     
        <div id="follow_pic">   <a target="_blank" href="https://www.gdufs.edu.cn/"><img src="<?php echo PUBLIC_PATH.'common/image/facebook.png';?>" width="50" height="50"></a></div>
        <span class="tooltiptext">Facebook</span>
    </div>   

    <div class="tooltip">     
        <div id="follow_pic">   <a target="_blank" href="https://www.gdufs.edu.cn/"><img src="<?php echo PUBLIC_PATH.'common/image/instagram.png';?>" width="50" height="50"></a></div>
        <span class="tooltiptext">Instagram</span>
    </div> 

     <div class="tooltip">     
        <div id="follow_pic">   <a target="_blank" href="https://www.gdufs.edu.cn/"><img src="<?php echo PUBLIC_PATH.'common/image/note.png';?>" width="50" height="50"></a></div>
        <span class="tooltiptext">Evernote</span>
    </div> 

     <div class="tooltip">     
        <div id="follow_pic">   <a target="_blank" href="https://www.gdufs.edu.cn/"><img src="<?php echo PUBLIC_PATH.'common/image/wechat.png';?>" width="50" height="50"></a></div>
        <span class="tooltiptext">Wechat</span>
    </div> 
     

    </div>

    </div>

<div class="footer">
    <img src="<?php echo PUBLIC_PATH.'common/image/apple-touch-icon.png'?>" alt="logo" width="230" height="230">
    <ul>
              <li><a><h3>友情链接</h3></a></li>        
            <li><a target="_blank" href="http://www.cwca.org.cn/index.html"><h4>中国野生动物保护协会</h4></a></li>
            <li><a target="_blank" href="https://www.worldanimalprotection.org.cn/"><h4>世界动物保护协会</h4></a></li>
    </ul>
    <ul>
              <li><a ><h3>相关网站</h3></a></li>        
            <li><a target="_blank" href="https://www.ifaw.org/international"><h4>国际爱护动物基金会</h4></a></li>
            <li><a target="_blank" href="https://www.worldwildlife.org/"><h4>世界自然基金会</h4></a></li>
    </ul>
        <ul>
              <li><a ><h3>关于我们</h3></a></li>        
            <li><a target="_blank" href=""><h4>网站简介</h4></a></li>
            <li><a target="_blank" href=""><h4>联系我们</h4></a></li>
    </ul>
    <p>地址：广东省广州市广东外语外贸大学 | 邮政编码：510000 | 电话：010-01010101 | 传真：101-10101010</p>
     <p>2021 © 世界野生动物资讯网　</p>
</div>

<div id="scrolltop"> 

<div id="scroll1">          
            <div>
                <a href="javascript:playPause();" class="btns" ><audio id="music2" src="<?php echo PUBLIC_PATH.'common/audio/audio.mp3'?>"  loop="loop"></audio> BGM</a>
            </div>
</div>
<div id="scroll2"> 
            <div >
                <a href="#"  class="btns" >TOP</a>
            </div>
</div>
</div>


 </body>
</html>
