<?php require COMMON_VIEW.'header.html';?>

    <div class="content">
        <div id="card">
        <div class="container">
            <div class="card">
                <div class="imgBx">
                    <img src="<?php echo PCOMMON_PATH.'image/bird.png';?>" alt="鸟类迁徙">
                </div>
                <div class="contentBx">
                    <h2>鸟类迁徙</h2>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;鸟类迁徙是鸟类遵循大自然环境的一种生存本能反应。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;研究鸟类的迁徙行为，了解候鸟的迁徙时间和路线、迁徙数量、种群关系等生态规律，
                        对于保护珍稀濒危鸟种、利用候鸟保护农林生产和维护生态平衡、保障航空安全、计划利用经济候鸟、防止流行病的传播、制定法律等可以提供科学的依据，将会给人类带来巨大的社会和经济效益以及生态效益。</p>
                    <a href="https://baike.baidu.com/item/鸟类迁徙/1834780?fr=aladdin" target="_blank"><span>Read More</span></a>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="<?php echo PCOMMON_PATH.'image/panda.png';?>" alt="大熊猫保护合作">
                </div>
                <div class="contentBx">
                    <h2>大熊猫保护合作</h2>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;大熊猫的迁地保护，是对大熊猫就地保护的有利辅助。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;以野外大熊猫个体为建群者，在人工条件下发展圈养种群数量，逐渐开展放归野外准备工作，最终建立迁地保护与就地保护的良性互动。
                        现已基本形成了以四川卧龙“中国保护大熊猫研究中心”为龙头，四川成都大熊猫繁育基地、陕西楼观台大熊猫救护中心和北京动物园为重点的全国圈养大熊猫繁育发展体系。</p>
                    <a href="https://baike.baidu.com/item/大熊猫/34935?fr=aladdin#8" target="_blank"><span>Read More</span></a>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="<?php echo PCOMMON_PATH.'image/wildlifeday.png';?>" alt="世界野生动植物日">
                </div>
                <div class="contentBx">
                    <h2>世界野生动植物日</h2>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;“世界野生动植物日”是为提高人们对世界野生动植物的认识，由联合国大会于2013年12月20日决定设立的节日。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;世界野生动植物日给我们一个机会赞美美丽多样的野生动植物，也让我们更加了解自然环境保护给人类带来的各种好处。
                        同时，该国际日也提醒我们，加大打击野生动植物犯罪迫在眉睫。我们的行动会产生广泛的经济、环境和社会影响。</p>
                    <a href="https://baike.baidu.com/item/世界野生动植物日/13207032?fr=aladdin" target="_blank"><span>Read More</span></a>
                </div>
            </div>
        </div>
    </div>

<?php require COMMON_VIEW.'footer.html';?>